<div class="rowContainer">
    <div>
        <div class="gridItem">
            <span class="label general">Nom :</span>
            <input class="value">
        </div>
        <div class="gridItem">
            <span class="label general">Joueur :</span>
            <input class="value">
        </div>
        <div class="gridItem">
            <span class="label general">Chronique :</span>
            <input class="value">
        </div>
    </div>
    <div>
        <div class="gridItem">
            <span class="label general">Nature :</span>
            <select class="value" [(ngModel)]="characterSheet.nature" title="Choix de nature">
                <option *ngFor="let nature of archetypes" [ngValue]="nature">{{ nature.name }}</option>
            </select>
        </div>
        <div class="gridItem">
            <span class="label general">Attitude :</span>
            <select [(ngModel)]="characterSheet.attitude" title="Choix d'attitude">
                <option *ngFor="let attitude of archetypes" [ngValue]="attitude">{{ attitude.name }}</option>
            </select>
        </div>
        <div class="gridItem">
            <span class="label general">Concept :</span>
            <input class="value">
        </div>
    </div>
    <div>
        <div class="gridItem">
            <span class="label general">Clan :</span>
            <select [(ngModel)]="characterSheet.clan" title="Choix de clan" (ngModelChange)="onClanChange(characterSheet.clan)">
                <option *ngFor="let clan of clans" [ngValue]="clan">{{ clan.name }}</option>
            </select>
        </div>
        <div class="gridItem">
            <span class="label general">Génération :</span>
            <input class="value">
        </div>
        <div class="gridItem">
            <span class="label general">Sire :</span>
            <input class="value">
        </div>
    </div>
</div>
<h2 class="categoryTitle">Attributs</h2>
<div class="rowContainer">
    <div *ngFor="let attribut of characterSheet.attributs">
        <h3 class="gridItemTitle importanceTitle" [ngClass]="attribut.importance.id">{{ attribut.title }}</h3>
        <div class="pointsAvailable">
            <select class="importanceSelect" [ngModel]="attribut.importance" (ngModelChange)="onImportanceChanged($event, attribut, characterSheet.attributs)">
                <option *ngFor="let importance of IMPORTANCES" [ngValue]="importance">{{ importance.name }}</option>
            </select>
            {{ attribut.pointsAvailable }}
        </div>
        <div class="gridItem" *ngFor="let item of attribut.items">
            <span class="label">{{ item.name }}</span>
            <span class="points">
                <div class="point circlePoint" [ngClass]="i < item.points ? 'pointActive' : ''" *ngFor="let point of Arr(item.pointsMax).fill(1); index as i"></div>
            </span>
            <span class="alterPoints">
                <span class="smallButton fa fa-minus" (click)="onItemMinusClick(item, attribut)"></span>
                <span class="smallButton fa fa-plus" (click)="onItemPlusClick(item, attribut)"></span>
            </span>
        </div>
    </div>
</div>
<h2 class="categoryTitle">Capacités</h2>
<div class="rowContainer">
    <div *ngFor="let capacite of characterSheet.capacites">
        <h3 class="gridItemTitle importanceTitle" [ngClass]="capacite.importance.id">{{ capacite.title }}</h3>
        <div class="pointsAvailable">
            <select class="importanceSelect" [ngModel]="capacite.importance" (ngModelChange)="onImportanceChanged($event, capacite, characterSheet.capacites)">
                <option *ngFor="let importance of IMPORTANCES" [ngValue]="importance">{{ importance.name }}</option>
            </select>
            {{ capacite.pointsAvailable }}
        </div>
        <div class="gridItem" *ngFor="let item of capacite.items">
            <span class="label">{{ item.name }}</span>
            <span class="points">
                <div class="point circlePoint" [ngClass]="i < item.points ? 'pointActive' : ''" *ngFor="let point of Arr(item.pointsMax).fill(1); index as i"></div>
            </span>
            <span class="alterPoints">
                <span class="smallButton fa fa-minus" (click)="onItemMinusClick(item, capacite)"></span>
                <span class="smallButton fa fa-plus" (click)="onItemPlusClick(item, capacite)"></span>
            </span>
        </div>
    </div>
</div>
<h2 class="categoryTitle">Avantages</h2>
<div class="rowContainer">
    <div *ngFor="let avantage of characterSheet.avantages">
        <h3 class="gridItemTitle importanceTitle">{{ avantage.title }}</h3>
        <div class="pointsAvailable">
            {{ avantage.pointsAvailable }}
        </div>
        <div class="gridItem" *ngFor="let item of avantage.items">
            <input class="key" *ngIf="item.type === 'input'" [(ngModel)]="item.name">
            <span class="label" *ngIf="!item.type">{{ item.name }}</span>
            <span class="points">
                <div class="point circlePoint" [ngClass]="i < item.points ? 'pointActive' : ''" *ngFor="let point of Arr(item.pointsMax).fill(1); index as i"></div>
            </span>
            <span class="alterPoints">
                <span class="smallButton fa fa-minus" (click)="onItemMinusClick(item, avantage)"></span>
                <span class="smallButton fa fa-plus" (click)="onItemPlusClick(item, avantage)"></span>
            </span>
        </div>
    </div>
</div>
<hr>
<div class="rowContainer">
    <div>
        <h3 class="gridItemTitle">Autres traits</h3>
    </div>
    <div>
        <h3 class="gridItemTitle gridItemTitleSlim">Voie</h3>
        <div class="gridItem">
            <div style="width:100%;text-align:center">
                <select ([ngModel])="characterSheet.voie" (ngModelChange)="onVoieChanged(characterSheet.voie)">
                    <option *ngFor="let voie of voies" [ngValue]="voie">{{ voie.name }}</option>
                </select>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="voie">
                Aura : <input class="mediumInput"> (  )
            </div>
        </div>
        <h3 class="gridItemTitle gridItemTitleSlim">Volonté</h3>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
                <div class="point circlePoint"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
        <h3 class="gridItemTitle gridItemTitleSlim">Réserve de sang</h3>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
        <div class="gridItem">
            <div class="pointsLarge">
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
                <div class="point"></div>
            </div>
        </div>
    </div>
    <div>
        <h3 class="gridItemTitle gridItemTitleSlim">Santé</h3>
        <div class="healthItem">
            <div class="healthKey">Contusion</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Blessure légère</div>
            <div class="healthMiddleItem"> -1</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Blessure moyenne</div>
            <div class="healthMiddleItem"> -1</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Blessure grave</div>
            <div class="healthMiddleItem"> -2</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Handicap</div>
            <div class="healthMiddleItem"> -2</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Infirmité</div>
            <div class="healthMiddleItem"> -5</div>
            <div class="point"></div>
        </div>
        <div class="healthItem">
            <div class="healthKey">Invalidié</div>
            <div class="point"></div>
        </div>
        <h3 class="gridItemTitle">Faiblesse</h3>
    </div>
</div>
