@import "../node_modules/font-awesome/css/font-awesome.css";

.categoryTitle {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    text-transform: uppercase;
}

input {
    border: none;
    border-bottom: 1px solid #CCC;
}

input:focus {
    outline: none;
}

input .value {
    margin-right: 15px;
}

.key {
    width: 120px;
}

.rowContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}

.gridItemTitle {
    text-align: center;
    text-transform: uppercase;
    min-height: 30px;
    margin : 20px 15px 20px 15px;
}

.gridItemTitleSlim {
    margin : 20px 15px 0px 15px;
}

.gridItem {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    min-width: 315px;
    max-width: 315px;
    margin-left: 15px;
}

.gridItem > select {
    flex-basis: 60%;
}

.healthItem {
    display: flex;
    justify-content: space-between;
}

.healthKey {
    min-width: 120px;
}

.healthMiddleItem {
    min-width: 50px;
    text-align: center;
}

.label {
    flex-basis: 50%;
}

.general {
    text-transform: uppercase;
}

.points {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.point {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 1px;
}

.pointActive {
    background-color: red;
}

.alterPoints {
    display: flex;
    align-items: center;
}

.circlePoint {
    border-radius: 50%;
}

.voie {
    width: 100%;
    text-align: center;
}

.pointsLarge {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mediumInput {
    width: 100px;
}

.primaire {
    font-size: 25px;
    color: red;
}

.secondaire {
    font-size: 20px;
    color: firebrick;
}

.tertiaire {
    font-size: 15px;
}

.smallButton {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 12px !important;
}

.smallButton:hover {
    cursor: pointer;
}

.pointsAvailable {
    text-align: center;
    min-height: 30px
}

.importanceSelect {
    margin-bottom: 10px;
}

.importanceTitle {
    margin-bottom: 0px;
}

.fullInputContainer {
    width: 100%;
    text-align: center;
}

.plusBonus {
    color: brown;
}

.centerTitle {
    text-align: center;
}
